<!-- Footer -->
<footer class="page-footer font-small clearfix ">

 <!-- Footer Elements -->

  <div class="footer-text text-center">
   <h2 class="navbar-brand">Ca.</h2>
  </div>

   <!-- Social buttons -->
   <div class="footer-social-icon d-flex justify-content-center">
       <a class="btn-floating btn-fb mx-1">
        <fa-icon [icon]="faFacebook" class="fa-icon"></fa-icon>
       </a>
       <a class="btn-floating btn-tw mx-1">
        <fa-icon [icon]="faTwitter" class="fa-icon" style="background: #fb397d;"></fa-icon>
       </a>
       <a class="btn-floating btn-gplus mx-1">
        <fa-icon [icon]="faGooglePlay" class="fa-icon" ></fa-icon> 
       </a>
       <a class="btn-floating btn-li mx-1">
        <fa-icon [icon]="faInstagram" class="fa-icon"></fa-icon>
       </a>
       <a class="btn-floating btn-dribbble mx-1">
         <i class="fab fa-dribbble"> </i>
       </a>
   </div>
   <!-- Social buttons -->
   <div class="footer-menu d-flex justify-content-center">
    <nav>
        <ul class="d-flex" style="padding-left: 0;">
            <li class="list-unstyled"><a href="#">About</a></li>
            <li class="list-unstyled"><a href="#">Terms &amp; Conditions</a></li>
            <li class="list-unstyled"><a href="#">Privacy Policy</a></li>
            <li class="list-unstyled"><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>
 <!-- Footer Elements -->

 <!-- Copyright -->
 <div class="footer-copyright text-center pb-5">Copyright ©2017 Ca. Designed by
   <a href="https://mdbootstrap.com/">Colorlib</a>
 </div>
 <!-- Copyright -->

</footer>
<!-- Footer -->
