<header>
 <div class="container">
  <div class="row ">
   <div class=" col-xl-3 col-md-3 col-sm-6">
    <div class="row"><app-animate [digit]="90" [duration]="7000"></app-animate>
    <div class="icon">
     <fa-icon [icon]="faArrowDown"></fa-icon>
     <h6>
      APP<span> DOWNLOADS</span> 
      </h6>
    </div>
    </div>
   </div>
   <div class="col-xl-3 col-md-3 col-sm-6 second-counter">
    <div class="row">
     <app-animate [digit2]="120" [duration]="7000"></app-animate>
     <div class="icon">
      <fa-icon [icon]="faAngry"></fa-icon>
      <h6>
      Happy<span> Clients</span> 
       </h6>
     </div>
     </div>
   </div>
   <div class="col-xl-3 col-md-3 col-sm-6">
    <div class="row">
     <app-animate [digit3]="40" [duration]="7000"></app-animate>
     <div class="icon">
      <fa-icon [icon]="faUser"></fa-icon>
      <h6>
       ACTIVE<span> ACCOUNTS</span> 
       </h6>
     </div>
     </div>
   </div>
   <div class="col-xl-3 col-md-3 col-sm-6">
    <div class="row">
     <app-animate [digit4]="10" [duration]="7000"></app-animate>
     <div class="icon">
      <fa-icon [icon]="faStar"></fa-icon>
      <h6>
       TOTAL<span> APP RATES</span> 
       </h6>
     </div>
     </div>
   </div>
  </div>
</div>
</header>

