<section class="section">
 <div class="container">
  <div class="row">
   <div class="col-md-6">
    <div class="row row-first" style="margin-bottom: 7%;">
     <div class="header-content-text">
      <h2>Get in touch with us!</h2>
      <hr class="content-line" />
     </div>
    </div>
    <div class="row row-text-p">
     <p>We'll send you epic weekly blogs, whitepapers and things to make your app startup thrive, all FREE!</p>
    </div>
    <div class="row footer-text d-block mt-5">
     <div class="Address-text">
      <p>
       <span>Address:</span>
       40 Baria Sreet 133/2 NewYork City, US
      </p>
     </div>
     <div class="Phone-text">
      <p>
       <span>Phone:</span>
       +11-225-888-888-66
      </p>
     </div>
     <div class="Email-text">
      <p>
       <span>Email:</span>
       info.deercreative@gmail.com
      </p>
     </div>
    </div>
   </div>
   <div class="col-md-6" style="margin-top: 5%;">
    <form>
     <div class="form-group"> 
       <input type="text" class="form-control" id="exampleInputName"  placeholder="Your Name">
     </div>
     <div class="form-group">
      
       <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your E-mail">
     </div>
      <div class="form-group"> 
       <textarea type="text" class="form-control" id="exampleInputMessage" rows="4" cols="10"  placeholder="Your Message* "></textarea>
     </div>
    
     <button type="submit" class="submit">Send Now</button>
   </form>
   </div>
  </div>
 </div>
</section>