<div class="section">
 <div class="container">
  <div class="row justify-content-center" style="margin-bottom: 7%;">
   <div class="header-content-text">
    <h3>Pricing Plan</h3>
    <hr class="content-line" />
   </div>
  </div>
  <div class="row">
   <div class="col-md-3 col-sm-6 col" style="padding-left: 9px;">
    <div class="card" style="width: 18rem;">
     <div class="card-body">
      <h5 class="card-title">Starter Plan</h5>
      <div class="card-body-content d-flex">
       <fa-icon [icon]="faDollarSign"></fa-icon>
       <h2>29</h2>
      </div>
     </div>
     <ul class="list-group list-group-flush">
      <li class="list-group-item">Up to 10 users monthly</li>
      <li class="list-group-item">Unlimited updates</li>
      <li class="list-group-item">Free host & domain</li>
      <li class="list-group-item">24/7 Support</li>
      <li class="list-group-item">10 Unique Users</li>
     </ul>
     <div class="card-body card-body-end">
      <a href="#" class="card-link">Basic Plan</a>
     </div>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 col" style="padding-left: 9px;">
    <div class="card" style="width: 18rem;">
     <div class="card-body">
      <h5 class="card-title">Starter Plan</h5>
      <div class="card-body-content d-flex">
       <fa-icon [icon]="faDollarSign"></fa-icon>
       <h2>49</h2>
      </div>
     </div>
     <ul class="list-group list-group-flush">
      <li class="list-group-item">Up to 10 users monthly</li>
      <li class="list-group-item">Unlimited updates</li>
      <li class="list-group-item">Free host & domain</li>
      <li class="list-group-item">24/7 Support</li>
      <li class="list-group-item">10 Unique Users</li>
     </ul>
     <div class="card-body card-body-end">
      <a href="#" class="card-link">Advenced Plan</a>
     </div>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 col" style="padding-left: 9px;">
    <div class="card" style="width: 18rem;">
     <div class="card-body" style="background-color: #a865e1;border-top-left-radius: 30px;border-top-right-radius: 30px;">
      <h5 class="card-title card-body-end-title" style="color:#fff !important;">Community Plan</h5>
      <div class="card-body-content d-flex">
       <fa-icon [icon]="faDollarSign" style="color:#fff !important;"></fa-icon>
       <h2 style="color:#fff !important;">69</h2>
      </div>
     </div>
     <ul class="list-group list-group-flush ">
      <li class="list-group-item">Up to 10 users monthly</li>
      <li class="list-group-item">Unlimited updates</li>
      <li class="list-group-item">Free host & domain</li>
      <li class="list-group-item">24/7 Support</li>
      <li class="list-group-item">10 Unique Users</li>
     </ul>
     <div class="card-body card-body-end" style="background-color: #a865e1;">
      <a href="#" class="card-link">Selected Plan</a>
     </div>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 col" style="padding-left:9px;">
    <div class="card" style="width: 18rem;">
     <div class="card-body">
      <h5 class="card-title">Starter Plan</h5>
      <div class="card-body-content d-flex">
       <fa-icon [icon]="faDollarSign"></fa-icon>
       <h2>99</h2>
      </div>
     </div>
     <ul class="list-group list-group-flush">
      <li class="list-group-item">Up to 10 users monthly</li>
      <li class="list-group-item">Unlimited updates</li>
      <li class="list-group-item">Free host & domain</li>
      <li class="list-group-item">24/7 Support</li>
      <li class="list-group-item">10 Unique Users</li>
     </ul>
     <div class="card-body card-body-end">
      <a href="#" class="card-link">Selected Plan</a>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>