<section class="team">
  <div class="container">
    <div class="row justify-content-center" style="margin-bottom: 7%;">
     <div class="header-content-text">
      <h2>Our Team</h2>
      <hr class="content-line" />
     </div>
    </div>
    <div class="row box">
     <div class="col-md-3">
      <div class="single-team-member">
       <div class="box-content-image">
        <img src="../../assets/img/team-img/team-1.jpg" alt="">
        <div class="box-content-hover">
         <div class="social">
          <fa-icon [icon]="faFacebook" class="fa-icon"></fa-icon>
          <fa-icon [icon]="faTwitter" class="fa-icon"></fa-icon>
          <fa-icon [icon]="faGooglePlay" class="fa-icon"></fa-icon>
          <fa-icon [icon]="faInstagram" class="fa-icon"></fa-icon>
         </div>
        </div>
       </div>
        <div class="box-content-text">
         <h5>Jackson Nash</h5>
         <h6>Tax Advice</h6>
        </div>
      </div>
      </div>
   
     
     <div class="col-md-3">
      <div class="single-team-member">
       <div class="box-content-image">
        <img src="../../assets/img/team-img/team-2.jpg" alt="">
        <div class="box-content-hover">
         <div class="social">
          <fa-icon [icon]="faFacebook" class="fa-icon"></fa-icon>
          <fa-icon [icon]="faTwitter" class="fa-icon"></fa-icon>
          <fa-icon [icon]="faGooglePlay"class="fa-icon"></fa-icon>
          <fa-icon [icon]="faInstagram"class="fa-icon"></fa-icon>
         </div>
        </div>
       </div>
        <div class="box-content-text">
        <h5>Alex Manning</h5>
        <h6>CEO-Founder</h6>
       </div>
      </div>
     
     
     </div>
     <div class="col-md-3">
      <div class="single-team-member">
       <div class="box-content-image">
        <img src="../../assets/img/team-img/team-3.jpg" alt="">
        <div class="box-content-hover">
         <div class="social">
          <fa-icon [icon]="faFacebook" class="fa-icon"></fa-icon>
          <fa-icon [icon]="faTwitter" class="fa-icon"></fa-icon>
          <fa-icon [icon]="faGooglePlay" class="fa-icon"></fa-icon>
          <fa-icon [icon]="faInstagram" class="fa-icon"></fa-icon>
         </div>
        </div>
       </div>
        <div class="box-content-text">
        <h5>Ollie Schneider</h5>
        <h6>Business Planner</h6>
       
      </div>
      </div>
     
     </div>
     <div class="col-md-3">
      <div class="single-team-member">
       <div class="box-content-image">
        <img src="../../assets/img/team-img/team-4.jpg" alt="">
        <div class="box-content-hover">
         <div class="social">
          <fa-icon [icon]="faFacebook" class="fa-icon"></fa-icon>
          <fa-icon [icon]="faTwitter" class="fa-icon"></fa-icon>
          <fa-icon [icon]="faGooglePlay" class="fa-icon"></fa-icon>
          <fa-icon [icon]="faInstagram" class="fa-icon"></fa-icon>
         </div>
        </div>
       </div>
        <div class="box-content-text">
        <h5>Roger West</h5>
        <h6>Financer</h6>
       </div>
      </div> 
     </div>
    </div>
   </div>
</section>