<section class="screenShot">
    <div class="container">
        <div class="row justify-content-center" style="padding-bottom: 7%;" >
         <div class="header-content-text">
          <h2>App Screenshots</h2>
          <hr class="content-line" />
         </div>
        </div>
       </div> 
       <div class="owl-carousel-container" style="margin-bottom: 7%;">
       <owl-carousel-o [options]="customOptions" >
        <ng-template carouselSlide >
            <div class="slide" style="width: 200px;">
                <img src="../../assets/img/scr-img/app-1.jpg">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide" style="width: 200px;">
                <img src="../../assets/img/scr-img/app-2.jpg">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide" style="width: 200px;">
                <img src="../../assets/img/scr-img/app-3.jpg">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide" style="width: 200px;">
                <img src="../../assets/img/scr-img/app-4.jpg">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide"style="width: 200px;">
                <img src="../../assets/img/scr-img/app-5.jpg">
            </div>
        </ng-template>
        <ng-template carouselSlide>
         <div class="slide" style="width: 200px;">
             <img src="../../assets/img/scr-img/app-2.jpg">
         </div>
       </ng-template>
       
       </owl-carousel-o>
       </div>
</section>
