<section class="feature">
  <div class="container">
    <div class="row justify-content-center">
     <div class="header-content-text">
      <h2>Awesome Features</h2>
      <hr class="content-line" />
     </div>
    </div>
    <div class="row feature-content mt-5">
     <div class="col-md-4 feature-content-details">
      <div class="feature-box">
       <div class="singel-icon d-flex">
        <fa-icon [icon]="faUser"></fa-icon>
        <h5 class="feature-box-text">Awesome Experience</h5>
       </div> 
       <p class="feature-box-p">Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
        anim id est laborum.</p>
      </div>
     </div>
   
     <div class="col-md-4 feature-content-details">
      <div class="feature-box">
       <div class="singel-icon d-flex">
        <fa-icon [icon]="faHeartbeat"></fa-icon>
        <h5 class="feature-box-text">Fast and Simple</h5>
       </div>
       <p class="feature-box-p">Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
        anim id est laborum.</p>
      </div>
     </div>
   
     <div class="col-md-4 feature-content-details">
      <div class="feature-box">
       <div class="singel-icon d-flex">
        <fa-icon [icon]="faTachometerAlt"></fa-icon>
        <h5 class="feature-box-text">Clean Code</h5>
       </div>
       <p class="feature-box-p">Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
        anim id est laborum.</p>
      </div>
     </div>
    </div>
    <div class="row feature-content">
     <div class="col-md-4 feature-content-details">
      <div class="feature-box">
       <div class="singel-icon d-flex">
        <fa-icon [icon]="faPalette"></fa-icon>
        <h5 class="feature-box-text">Perfect Design</h5>
       </div> 
       <p class="feature-box-p">Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
        anim id est laborum.</p>
      </div>
     </div>
   
     <div class="col-md-4 feature-content-details">
      <div class="feature-box">
       <div class="singel-icon d-flex">
        <fa-icon [icon]="faCrown"></fa-icon>
        <h5 class="feature-box-text">Best Industry Leader</h5>
       </div>
       <p class="feature-box-p">Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
        anim id est laborum.</p>
      </div>
     </div>
   
     <div class="col-md-4 feature-content-details">
      <div class="feature-box">
       <div class="singel-icon d-flex">
        <fa-icon [icon]="faHeadphones"></fa-icon>
        <h5 class="feature-box-text">24/7 Online Support</h5>
       </div>
       <p class="feature-box-p">Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
        anim id est laborum.</p>
      </div>
     </div>
    </div>
   </div>
</section>